{% extends 'admin/dashboard.html' %}
{% block content %}
{% load static %}

<!--Sweet alert-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!--Search -->

<div class="container">
    <div class="row">
        <div class="search-container">
            <div class="col">
                <form method="GET">
                    {% csrf_token %}
                    <input type="text" name="q" placeholder="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Comment</b></h2>
                    {% if messages %}
                    {% for message in messages %}
                    <script>
                        swal({
                            title: "Good job!",
                            text: "{{ message }}",
                            icon: "success",
                        });
                    </script>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>News </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Comment </th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                {% for co in comment_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ co.author }}</td>
                    <td>{{ co.news }}</td>
                    <td>{{ co.name }}</td>
                    <td>{{ co.email }}</td>
                    <td>{{ co.comment }}</td>
                    <td>{{ co.status }}</td>
                    <td>
                        <a href="{% url 'News:comment-update' co.id %}" class="edit">
                            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="" class="delete">
                            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
                {% endfor %}
            </thead>
        </table>

        <!--Add pagination in Author-->
        {% comment %} <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span>Page{{ page_obj.number }} of {{ page_obj.number_pages }} </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next </a>

                {% endif %}
            </span>
        </div> {% endcomment %}
        <!--Add Author-->

        <!-- Edit Author-->
        <div id="editCommentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="..."
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <!--Delete Author-->
        <div id="deleteCommentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="..."
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $('.edit').on('click', function (e) {
        e.preventDefault()
        var url = $(this).attr('href');
        $.get(url, function (data) {
            console.log(data)
            $('#editCommentModal').modal('show');
            $('#editCommentModal .modal-content').empty().append(data)
        })
    })

    $('.delete').on('click', function(e){
        e.preventDefault()
        var url = $(this).attr('href');
        $.get(url, function (data){
            console.log(data)
            $('#deleteCommentModal').modal('show');
            $('#deleteCommentModal .modal-content').empty().append(data)
        })
    })

</script>

{% endblock scripts %}