{% extends 'admin/dashboard.html' %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<form method="POST" action="{% url 'News:create-news' %}" enctype="multipart/form-data">
    {% if messages %}
        {% for message in messages %}
        <script>
            swal({
                title: "Good job!",
                text: "{{ message }}",
                icon: "success",
              });
        </script>
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Add News</h4>
    </div>
    <div class="modal-body">
        {{ form.non_field_errors }}
        {% for f in form %}
        <div class="form-group">
            <label>{{ f.label }}</label>
            {{ f }}
            <span> {{ f.errors|striptags }} </span>
        </div>
        {% endfor %}
        <button class="btn btn-primary"> Add News </button>
    </div>
</form>

{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function (){
        $('#id_category').select2();
    })
</script>

{% endblock scripts %}