<!-- Sweet alert-->
<form method="POST" action="{% url 'News:delete-news' object.id %}">
    {% csrf_token %}
        <div class="modal-header">
            <h4 class="modal-title">Delete News</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete these Records?</p>
            <p class="text-warning"><small>{{ object.title }}: Information deleted </small></p>
        </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
        <input type="submit" class="btn btn-success" value="Delete">
    </div>
</form>
