{% extends 'admin/dashboard.html' %}
{% load static %}
{% block content %}

<!--Sweet alert-->
<!--Search -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="search-container">
                <div class="col-12">
                    <form method="GET">
                        {% csrf_token %}
                        <input type="text" name="q" placeholder="Search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>News</b></h2>
                        {% if messages %}
                        {% for message in messages %}
                        <script>
                            swal({
                                title: "Good job!",
                                text: "{{ message }}",
                                icon: "success",
                            });
                        </script>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Details</th>
                        <th>Action</th>
    
                    </tr>
                    {% for new in new_list %}
                    <tr>
                        <td> {{ forloop.counter }} </td>
                        <td> {{ new.category }} </td>
                        <td> {{ new.title }}</td>
                        <td>
                            <a href="{% if new.image %}{{ new.image.url }}{% endif %}" target="_blank"> 
                                <img src="{% if new.image %} {{ new.image.url }} {% endif %}" alt="No Image" style="width:50px">
                            </a>
                        </td>
                        <td> {{ new.details }}</td>
                        <td>
                            <a href="{% url 'News:update-news' new.id %}" class="edit">
                                <i class="fa fa-pencil" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="{% url 'News:delete-news' new.id %}" class="delete">
                                <i class="fa fa-trash" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>

            <!--Add pagination in Author-->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span>Page{{ page_obj.number }} of {{ page_obj.number_pages }} </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next </a>

                    {% endif %}
                </span>
            </div>
            <!--Add Author-->

            <!-- Edit News-->
            <div id="editNewsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="..."
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>

            <!-- Delete News-->
            <div id="deleteNewsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="..."
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
<script>
    $('.edit').on('click', function (e) {
        e.preventDefault()
        var url = $(this).attr('href');
        $.get(url, function (data) {
            console.log(data)
            $('#editNewsModal').modal('show');
            $('#editNewsModal .modal-content').empty().append(data)
        })
    })

    $('.delete').on('click', function (e){
        e.preventDefault()
        var url = $(this).attr('href');
        $.get(url, function (data){
            console.log(data)
            $('#deleteNewsModal').modal('show')
            $('#deleteNewsModal .modal-content').empty().append(data)
        })
    })
</script>
{% endblock scripts %}