<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Components</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Author:</h6>
            <a class="collapse-item" href="/createAuthor">Add Author</a>
            <a class="collapse-item" href="/listAuthor">Author List</a>
        </div>
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Category:</h6>
            <a class="collapse-item" href="/createCategory">Add Category</a>
            <a class="collapse-item" href="/categoryList"> Category List </a>
        </div>
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">News:</h6>
            <a class="collapse-item" href="/createNews">Add News</a>
            <a class="collapse-item" href="/newslist"> New List </a>
        </div>
        
    </div>
</li>