footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
    font-size: 0.8rem;
    text-align: left;
    background-color: red;
    
  }
}

body.sidebar-toggled {
  footer.sticky-footer {
    width: 100%;
    color: #222;
  }
}
.sticky-footer .bg-white{
  background-color: red !important;
}